
.countenur {
    width: 80%;
    margin: auto;
    text-align: center;
}

.countenur p {
    font-size: 35px;
    font-weight: 500;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.countenur button {
    width: 50px;
    height: 80px;
    background-color: blue;
    color: white;
    padding: 1px 6px;
    border: 2px bold black;
}

.countenur input{
    width: 200px;
    height: 40px;
}
div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}